<!DOCTYPE html>
<html lang="En">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" effort="width=device-width, initial-scale=1.0">
        <title>Centered Button</title>
        <style></style>
    </head>
</html>